*{
    box-sizing: border-box;
}

:root {
    --primary-color: #0077ff;
    --secodanry-color: #fb7aff;
    --tertiary-color: #000000;
    --text-shadow: 1px 1px 2px var(--secodanry-color), 0 0 1em var(--primary-color), 0 0 0.2em;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: black;
}

/* header style start */
header {
    background-color: #000000;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 48px;
    text-shadow: var(--text-shadow)
    
}

header h1 a {
    text-decoration: none;
    text-shadow: var(--text-shadow)
}

.petriella {
    text-shadow: var(--text-shadow);
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    font-weight: normal;
    font-size: 1.75vw;
    text-shadow: var(--text-shadow)
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: black;
    border-radius: 15px;
    text-shadow: var(--text-shadow);
}

/*header style end*/

section {
    padding: 60px;
}

/*hero style start*/

.hero {
    background-image: url('../images/hero-bg.jpeg');
    background-size: contain;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;

}

.hero-cta h2 {
    font-size: 48px;
    text-shadow: var(--text-shadow)
}

.hero-cta ul {
    text-shadow: var(--text-shadow);
    list-style-type: none;
}

.developer {
    color: var(--primary-color);
}

/*about me style start*/

#about-me {
    text-align: center;
}

#about-me h2 {
    text-shadow: var(--text-shadow)
}

#about-me p {
    text-shadow: var(--text-shadow);
}
/*about me style end*/

.title-card {
    text-shadow: var(--text-shadow);
}
.projects {
    flex-direction: column;
}

.project-main {
    background-size: contain;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.project-img-main {
    border: solid;
    border-color: var(--primary-color);
}

.title-card-main {
    bottom: 10px;
    left: 10px;
    background-color: var(--primary-color);
    color: white;
}

.other-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.project-img {
    width: 50%;
    border: solid;
    border-color: var(--secodanry-color)
}

#portfolio h2 {
    
    text-shadow: var(--text-shadow);
}

#contact-info h2 {
    
    text-shadow: var(--text-shadow);
}